body{
    background-color: rgb(255, 255, 247);
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0 auto;
}
.container{
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
}

#header{
    background-color: darkred;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img1{
    max-width:  60%;;
    max-height:60%;
    float: right;
    vertical-align: top;
}

.text1{
    width: 44%;
    display: block;
    margin-left: 11%;
    float: left;
}
.sec1{
    display: inline;

}
.sec2{
    margin-top: 10%;
    margin-left:12%;
}

.text2{
    width: 58%;
    display: block;
    text-align: left;
    display: block;

}
.img2{
    max-width:50%;;
    max-height:70%;

}

.sec3{
    position: absolute;
    text-align: right;
    margin-top: 5%;
    margin-left:10%;
    float: right;
    vertical-align: top;
}

.text3{
    width: 58%;
    display: block;
    text-align: left;
    display: block;

}
.img3{
    max-width:60%;;
    max-height:70%;



}



.Sbtn:hover{
    background: coral;

}


footer{
    bottom: 0;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 9.5%;   /* Height of the footer */

}


#showcase{
    background-position: center;
    height: 670px;
    width: 80%;
    margin: 0px auto;
}

#showcase h1{
    font-size: 30px;
    line-height: 1.6em;
    z-index: unset;
    text-align: center;
}


#my-footer{
    background: rgb(94, 0, 0);
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0%;
}

